/*------------------------------------------------------------------
[Master Stylesheet]

Project: Newday
Version: 1.1
Last change: 01/03/2016
Author:	7UP Theme
Author URI: https://7uptheme.com/
-------------------------------------------------------------------*/